body {
    margin: 0px;
}

.taskbar {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #C0392B;
    color: white;
    align-items: center;
    padding-left: 250px;
}

.text-a {
    padding-right: 500px;
}

.text-a a {
    text-decoration: none;
    color: white;
    padding: 15px;
}

.content {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.content img {
    height: 400px;
    border-radius: 10px;
}

.content-text {
    margin: 100px;
    width: 350px;

}

.content-text p {
    line-height: 10px;
}
.menu{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.menu img{
    height: 180px;
}
.menu-all h2{
    text-align: center;
    color: #CC5D51;
}
.menu p{
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}
.mini-menu{
    margin: 20px;
}
.menu-all{
    margin-top: 100px;
    margin-bottom: 70px;
}
footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2C2C2C;
    color: white;
    height: 78px;
}